@import './variables';

@mixin flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin flexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@mixin heading3Style {
  font-size: 2rem;
  color: $black;
}
@mixin plainText {
  font-size: $regularFontSize;
  color: $darkGrey;
}
@mixin moneyPledgeTextStyle {
  font-size: $regularFontSize;
  color: $moderateCyan;
  font-weight: 500;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  body {
    position: relative;
    font-family: 'Commissioner', sans-serif;
    background: #e6e6e6;
  }
  body::-webkit-scrollbar {
    width: 1rem;
    color: $moderateCyan;
  }
  body::-webkit-scrollbar-track {
    background: #ccc;
  }
  body::-webkit-scrollbar-thumb {
    background: $moderateCyan;
  }
}
.header {
  background-image: linear-gradient(
      rgba(19, 18, 18, 0.7),
      rgba(239, 239, 239, 0.2)
    ),
    url('../img/background.jpg');
  background-size: cover;
  background-position: center;
  height: 40vh;
  .navbar-section {
    padding: 2.4rem;
    margin: 0 auto;
    width: 80%;
    @include flexSpaceBetween();
    .logo {
      display: inline-block;
      text-decoration: none;
      font-size: 2.4rem;
      font-weight: 700;
      color: #fff;
    }
    .menu-btn {
      border: none;
      background: none;
      cursor: pointer;
      display: none;
      .menu-icon {
        width: 2.4rem;
        height: 2.4rem;
        cursor: pointer;
        color: #fff;
      }
      .menu-icon[name='close-outline'] {
        display: none;
      }
    }
    .navbar {
      font-size: $regularFontSize;
      .nav-list {
        list-style: none;
        @include flexCenter();
        gap: 1.6rem;
        text-transform: capitalize;
        .nav-link:link,
        .nav-link:visited {
          text-decoration: none;
          color: #fff;
        }
        .nav-link:hover,
        .nav-link:active {
          color: $moderateCyan;
          transition: 0.5s all;
        }
      }
    }
  }
}
.main-btn {
  padding: 1.6rem 3.2rem;
  color: #fff;
  font-weight: 700;
  background-color: $moderateCyan;
  border: none;
  border-radius: 2.4rem;
}
.main-btn:hover {
  background-color: $darkCyan;
  cursor: pointer;
  transition: 1s all;
}
.plain-text {
  @include plainText();
}
.main-article {
  margin: -10rem auto;
  padding-bottom: 10rem;
  width: 50%;
  .section {
    position: relative;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 4.8rem;
    margin-bottom: 1rem;
    .logo-picture {
      position: absolute;
      top: 0;
      right: 50%;
      transform: translate(50%, -50%);
    }
    .main-heading {
      font-size: 3rem;
      color: $black;
      text-transform: capitalize;
      text-align: center;
      margin-bottom: 1.2rem;
    }
    .main-text {
      @include plainText();
      text-align: center;
      margin-bottom: 3.2rem;
    }
    .main-text::first-letter {
      text-transform: capitalize;
    }
    .bookmark-section {
      @include flexSpaceBetween();
      .bookmark {
        @include flexCenter();
        border: none;
        background: #e6e6e6;
        border-radius: 2.4rem;
        .bookmark-icon {
          padding: 1.6rem;
          font-size: 1.8rem;
          color: #e6e6e6;
          background: $darkGrey;
          border-radius: 50%;
        }
        .bookmark-text {
          color: $darkGrey;
          font-weight: 700;
          padding-left: 1.2rem;
          padding-right: 2.4rem;
        }
      }
      .bookmark-active {
        @include flexCenter();
        border: none;
        background: #e6e6e6;
        border-radius: 2.4rem;
        .bookmark-icon {
          padding: 1.6rem;
          font-size: 1.8rem;
          color: #fff;
          background: $moderateCyan;
          border-radius: 50%;
        }
        .bookmark-text {
          color: $moderateCyan;
          font-weight: 700;
          padding-left: 1.2rem;
          padding-right: 2.4rem;
        }
      }
      .bookmark:hover,
      .bookmark-active:hover {
        cursor: pointer;
      }
    }
  }
  .second-sec {
    @include flexCenter();
    margin-bottom: 3.2rem;
    .number-box {
      width: 33%;
      border-right: 2px solid #ccc;
      text-align: left;
      padding-left: 3.2rem;
      .number-heading {
        font-size: 2.4rem;
        color: $black;
        margin-bottom: 0.8rem;
      }
    }
    .number-box:last-child {
      border-right: none;
    }
  }
  .progress-bar {
    width: 100%;
    height: 2rem;
    background: #ccc;
    border-radius: 1rem;
    .success-bar {
      width: 64.3%;
      height: 2rem;
      background: $moderateCyan;
      border-radius: 1rem;
    }
  }
  .about-heading {
    @include heading3Style();
    margin-bottom: 3.2rem;
  }
  .about-text {
    @include plainText();
    line-height: 1.8;
    margin-bottom: 2.4rem;
  }
  .section-stands {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 2.4rem;
    margin-bottom: 1rem;
    .stands-box {
      @include flexSpaceBetween();
      margin-bottom: 2.4rem;
      .stands-heading {
        @include heading3Style();
        text-transform: capitalize;
      }
      .pledge-text {
        @include moneyPledgeTextStyle();
      }
    }
    .reward-box {
      @include flexSpaceBetween();
      .days {
        @include flexCenter();
        gap: 1rem;
        .numbers-left {
          font-size: 3rem;
          color: $black;
        }
      }
    }
  }
  .stands-disabled {
    opacity: 0.5;
    .reward-box {
      .btn-disabled {
        padding: 1.6rem 3.2rem;
        color: #fff;
        font-weight: 700;
        border: none;
        border-radius: 2.4rem;
        background-color: $darkGrey;
      }
    }
  }
}
.first-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-height: 70%;
  overflow-y: scroll;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 4.8rem;
  z-index: 2;
  .close-first-modal {
    position: absolute;
    top: 1.2rem;
    right: 2rem;
    font-size: 3rem;
    font-weight: 700;
    color: $black;
    cursor: pointer;
    border: none;
    background: none;
  }
  .first-modal-heading {
    @include heading3Style();
    margin-bottom: 1.6rem;
  }
  .modal-text {
    @include plainText();
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
  .pledge {
    border: 1px solid #ccc;
    border-radius: 7px;
    padding: 2.4rem;
    margin-bottom: 1rem;
    .pledge-heading {
      display: flex;
      align-items: center;
      gap: 2.4rem;
      margin-bottom: 1rem;
      .pledge-heading-title {
        display: flex;
        align-items: center;
        gap: 2.4rem;
      }
      .pledge-title {
        font-size: 1.8rem;
        font-weight: 700;
        color: $black;
      }
      .pledge-title:hover {
        color: $moderateCyan;
      }
      .radio-btn {
        width: 2.5rem;
        height: 2.5rem;
        accent-color: $darkCyan;
      }
      .pledge-sub-text {
        @include moneyPledgeTextStyle();
        margin-left: 2.4rem;
      }
      .pledge-days {
        margin-left: auto;
        display: flex;
        align-items: center;
        gap: 0.4rem;
        .numbers-left {
          font-size: 2rem;
          color: $black;
        }
        .text-left {
          font-size: $regularFontSize;
          color: $darkGrey;
          font-weight: 400;
        }
      }
    }
    .pledge-desc {
      @include plainText();
      line-height: 1.8;
      margin-left: 4.8rem;
      margin-bottom: 1.6rem;
    }
  }
  .pledge-disabled {
    opacity: 0.5;
    .pledge-title-disabled {
      font-size: 1.8rem;
      font-weight: 700;
      color: $black;
    }
  }
  .pledge-active {
    border: 2px solid $moderateCyan;
    .pledge-form {
      @include flexSpaceBetween();
      padding-top: 2.4rem;
      border-top: 1px solid #ccc;
      .pledge-form-input {
        position: relative;
        .dollar-sign {
          position: absolute;
          top: 45%;
          left: 5%;
          transform: translateY(-45%);
          font-size: 1.4rem;
          font-weight: 700;
          color: $darkGrey;
        }
        .number-input {
          border: 2px solid $moderateCyan;
          width: 11rem;
          padding: 1.4rem 2.4rem;
          margin-right: 1.2rem;
          font-weight: 700;
          border-radius: 2.4rem;
        }
        .number-input::-webkit-outer-spin-button,
        .number-input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
        .number-input[type='number'] {
          -moz-appearance: textfield;
        }
        .number-input:focus {
          outline: none;
          border-color: $darkCyan;
        }
      }
    }
  }
}
.first-modal::-webkit-scrollbar {
  width: 1rem;
  color: $moderateCyan;
}
.first-modal::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 7px;
}
.first-modal::-webkit-scrollbar-thumb {
  border-radius: 2rem;
  background: $moderateCyan;
}
.second-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40%;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 4.8rem;
  z-index: 2;
  text-align: center;
  .success-logo {
    font-size: 8.6rem;
    color: $moderateCyan;
    margin-bottom: 1.6rem;
  }
  .second-modal-heading {
    @include heading3Style();
    margin-bottom: 1.6rem;
  }
  .modal-text {
    @include plainText();
    line-height: 1.8;
    margin-bottom: 1.6rem;
  }
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(3px);
  z-index: 1;
}
.hidden {
  display: none;
}
@media (max-width: 81.25em) {
  html {
    font-size: 60%;
  }
  .plain-text {
    font-size: 1.2rem;
  }
  .first-modal {
    padding: 3.2rem;
  }
}
@media (max-width: 75em) {
  html {
    font-size: 57.75%;
  }
  .main-article {
    width: 55%;
    .section-stands {
      padding: 1.8em;
    }
  }
  .first-modal {
    width: 55%;
    .pledge .pledge-desc {
      font-size: 1.4rem;
    }
    .pledge-form .plain-text {
      font-size: 1.4rem;
    }
    .pledge .pledge-heading .pledge-sub-text {
      font-size: 1.4rem;
      margin-left: 0;
    }
  }
}
@media (max-width: 62.5em) {
  .main-article {
    width: 60%;
  }
  .first-modal {
    width: 60%;
  }
}
@media (max-width: 56.25em) {
  .main-article {
    width: 65%;
    margin: -7rem auto;
    padding-bottom: 7rem;
    .section .main-heading {
      font-size: 2.4rem;
    }
    .bookmark-text {
      display: none;
    }
  }
  .first-modal {
    width: 65%;
    .pledge .pledge-heading {
      gap: 1.4rem;
      .pledge-heading-title {
        gap: 1.4rem;
        .pledge-title {
          font-size: 1.6rem;
        }
        .pledge-sub-text {
          font-size: 1.2rem;
        }
      }
    }
    .pledge .pledge-desc {
      font-size: 1.2rem;
      margin-left: 3.8rem;
    }
  }
}
@media (max-width: 50em) {
  html {
    font-size: 55%;
  }
  .main-article {
    width: 70%;
    .section .logo-picture {
      width: 4.8rem;
      height: 4.8rem;
    }
    .second-sec .number-box .number-heading {
      font-size: 2rem;
    }
    .about-heading {
      font-size: 1.8rem;
    }
    .about-text {
      font-size: 1.4rem;
      margin-bottom: 1.8rem;
    }
    .section-stands .reward-box .days .numbers-left {
      font-size: 2.4rem;
    }
  }
  .first-modal {
    width: 70%;
  }
  .second-modal {
    width: 50%;
    padding: 3.2rem;
    .success-logo {
      font-size: 6.4rem;
    }
  }
  .main-btn {
    padding: 1.4rem 3rem;
    border-radius: 2.2rem;
  }
}
@media (max-width: 43.75em) {
  .main-article {
    width: 75%;
    .second-sec .number-box {
      padding-left: 1.6rem;
    }
    .section-stands .stands-box {
      flex-direction: column;
      align-items: baseline;
      gap: 1rem;
      margin-bottom: 1.8rem;
    }
  }
  .first-modal {
    width: 75%;
    .pledge .pledge-heading .pledge-heading-title {
      flex-direction: column;
      align-items: baseline;
      gap: 0.8rem;
    }
    .pledge-active .pledge-form .pledge-form-input .dollar-sign {
      left: 4%;
    }
    .pledge-active .pledge-form .pledge-form-input .number-input {
      padding: 1.2rem 2rem;
    }
  }
  .second-modal {
    width: 55%;
    padding: 3.2rem;
  }
}
@media (max-width: 37.5em) {
  .header {
    .navbar-section {
      position: relative;
      width: 100%;
      .menu-btn {
        display: block;
        z-index: 10;
      }
      .navbar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(2px);
        z-index: 1;
        display: flex;
        transition: 0.4s all linear;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        .nav-list {
          position: absolute;
          top: 8rem;
          left: 10%;
          right: 10%;
          flex-direction: column;
          gap: 0;
          align-items: baseline;
          background: #fff;
          border-radius: 7px;
          .nav-link:link,
          .nav-link:visited {
            display: block;
            font-weight: 500;
            padding: 1.6rem;
            font-size: $regularFontSize;
            color: $black;
          }
          .nav-link:hover,
          .nav-link:active {
            color: $moderateCyan;
            transition: 0.5s all;
          }
        }
      }
    }
  }
  .nav-open {
    .navbar-section {
      .menu-btn {
        .menu-icon[name='close-outline'] {
          display: block;
        }
        .menu-icon[name='menu-outline'] {
          display: none;
        }
      }
      .navbar {
        z-index: 9;
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
      }
    }
  }
  .main-article {
    width: 80%;
    .second-sec {
      flex-direction: column;
      margin-bottom: 2.4rem;
      .number-box {
        text-align: center;
        padding: 1.2rem 0;
        width: 40%;
        border-right: 0;
        border-bottom: 2px solid #ccc;
        .number-heading {
          font-size: 2.4rem;
        }
      }
    }
  }
  .first-modal {
    width: 80%;
    .pledge .pledge-heading .pledge-heading-title {
      .pledge-title {
        font-size: 1.8rem;
      }
      .pledge-sub-text {
        font-size: 1.4rem;
      }
    }
    .pledge-active .pledge-form {
      flex-direction: column;
      gap: 1.4rem;
      padding-top: 1.8rem;
      .pledge-form-input {
        display: flex;
        justify-content: center;
        gap: 2rem;
        .dollar-sign {
          left: 9%;
        }
        .number-input {
          width: 40%;
          margin-right: 0;
        }
        .main-btn {
          width: 42%;
        }
      }
    }
  }
  .second-modal {
    width: 60%;
    padding: 2.8rem;
  }
}
@media (max-width: 31.25em) {
  html {
    font-size: 50%;
  }
  .header {
    .navbar-section {
      .navbar {
        .nav-list {
          top: 8rem;
          left: 5%;
          right: 5%;
        }
      }
    }
  }
  .main-article {
    width: 90%;
  }
  .first-modal {
    width: 90%;
  }
  .second-modal {
    width: 80%;
  }
}
@media (max-width: 25em) {
  html {
    font-size: 47.75%;
  }
  .header {
    height: 50vh;
    .navbar-section {
      .navbar {
        height: 50vh;
        .nav-list {
          left: 2.5%;
          right: 2.5%;
        }
      }
    }
  }
  .main-btn {
    font-size: 1.2rem;
  }
  .main-article {
    width: 95%;
    .section {
      padding: 2.4rem;
      .section-stands {
        .about-text {
          margin-bottom: 1.2rem;
        }
        .reward-box {
          flex-direction: column;
          gap: 1rem;
          align-items: baseline;
        }
      }
      .stands-disabled .reward-box .btn-disabled {
        font-size: 1.2rem;
      }
    }
  }
  .first-modal {
    width: 95%;
    padding: 2.4rem;
    .pledge-active .pledge-form .pledge-form-input .dollar-sign {
      font-size: 1.2rem;
      left: 9%;
    }
    .pledge-active .pledge-form .pledge-form-input .number-input {
      font-size: 1.2rem;
      padding: 1rem 2rem;
    }
    .pledge-active .pledge-form .pledge-form-input .main-btn {
      font-size: 1.2rem;
      padding: 1rem 2rem;
      border-radius: 2.2rem;
    }
  }
  .second-modal {
    width: 90%;
  }
}
